name: Docker Build & Push

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: self-hosted
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ngoclam-be:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/ngoclam-be:${{ github.sha }}

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: docker
  #   steps:
  #     - name: SSH into server and deploy
  #       uses: appleboy/ssh-action@v1.1.0
  #       with:
  #         host: ${{ secrets.SERVER_HOST }}
  #         username: ${{ secrets.SERVER_USER }}
  #         password: ${{ secrets.SERVER_PASSWORD }}
  #         script: |
  #           cd ~/ngoclam-zmp-backend/
  #           git pull
  #           sed -i "s|truonghx/ngoclam-be:.*|truonghx/ngoclam-be:${{ github.sha }}|" docker-compose.deploy.yml
  #           docker compose -f docker-compose.deploy.yml pull app
  #           docker compose -f docker-compose.deploy.yml up -d --force-recreate app
  #           docker image prune -f
